*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: crimson;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.note-box{
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}
.note-box .note-head{
width: 100%;
height: 10%;
background-color: rgb(38, 38, 38);
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 10px;

}
.note-box .note-body{
    height: 90%;
    width: 100%;
    background-color: lightblue;
    border: none;
    outline: none;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}

#addBtn{
    background-color: black;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
i{
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}